.users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 38%;
  margin: 0 auto;
}


.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .data__input {
    width: 100%;
  }


.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .photo__img {
    width: 100%;
  }

  .photo__button {
    width: 100%;
  }


.text {
  text-align: center;
}

.data__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 37%;
  margin: 0 auto;
  margin-top: 2vw;
  height: 8vw;
}

.tags-thems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image_falafel {
  width: 10vw;
  height: 6vw;
  background-repeat: no-repeat;
}
