.news-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .news-list__add-news {
  }

  .news-list_users {
    width: 41%;
    margin: 0 auto;
    margin-top: 2vw;
  }

  .news-list_news {
    margin: 0 auto;
    width: 59vw;
  }


.add-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

  .add-news__input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }


.filter-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.find-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-list__filter-news {
  margin-top: 1vw;
}

.news-list__find-news {
  margin-top: 1vw;
}

.state1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hiden {
  display: none;
}

.small-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vw ;
}

.news__img {
  width: 5vw;
  height: 5vw;
}

.button-counter {

}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
